{% extends 'article_base.html' %}

{% block title %}
{{ title.raw }}
{% endblock %}

{% block header %}
{% include "wk_username.html" %}
<h1>
  {{ title.parsed | safe }}
</h1>
<p class="titletrans">
   <span class="trans">{{ title.translation | safe }}</span>
</p>
{% endblock %}

{% block content %}
{% for row in body %}
  <p>{{ row.parsed | safe}}</p>
  <p>&gt; <span class="trans">{{ row.translation | safe }}</span></p>
{% endfor %}
{% endblock %}

{% block script %}

var control = document.importNode(document.querySelector('template').content, true).childNodes[0];
control.addEventListener('pointerdown', oncontroldown, true);
document.querySelector('.searchable').onpointerup = ()=>{
  let selection = document.getSelection(), text = selection.toString();
  if (text !== "") {
    let bodyRect = document.body.getBoundingClientRect();
    let rect = selection.getRangeAt(0).getBoundingClientRect();
    control.style.top = `calc(${rect.top}px + ${window.scrollY}px - 48px)`;
    control.style.left = `calc(${rect.left}px + ${window.scrollX}px + calc(${rect.width}px / 2) - 40px)`;
    control['text']= text; 
    document.body.appendChild(control);
  }
}
function oncontroldown(event) {
  window.open(`https://jisho.org/search/${this.text}`);
  this.remove();
  document.getSelection().removeAllRanges();
  event.stopPropagation();
}
document.onpointerdown = ()=>{  
  let control = document.querySelector('#control');
  if (control !== null) {control.remove();document.getSelection().removeAllRanges();}
}

{% endblock %}
