{% extends 'base.html' %}

{% block title %}
{{ title.raw }}
{% endblock %}

{% block header %}
{% include "wk_username.html" %}
<h1>
  {{ title.parsed | safe }}
</h1>
<p class="titletrans">
   <span class="trans">{{ title.translation | safe }}</span>
</p>
{% endblock %}

{% block content %}
<div>
{% for row in body %}
  <p>{{ row.parsed | safe}}</p>
  <p>&gt; <span class="trans">{{ row.translation | safe }}</span></p>
{% endfor %}
</div>
<p><span class="bottomlink"><a href="/list">Back</a> <a href="/logout">Log out</a></span></p>
{% endblock %}
