{% extends 'base.html' %}

{% block title %}
{{ title.raw }}
{% endblock %}

{% block header %}
<h1>
  {{ title.parsed | safe }}
</h1>
<p class="titletrans">
   <span class="trans">{{ title.translation | safe }}</span>
</p>
{% endblock %}

{% block content %}
<p>Reading with token {{ session['wk_token'] }}</p>
<div>
{% for row in body %}
  <p>{{ row.parsed | safe}}</p>
  <p>&gt; <span class="trans">{{ row.translation | safe }}</span></p>
{% endfor %}
</div>
<p><a href="/logout">Log out</a></p>
{% endblock %}
