<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - NHK Easy Reader</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif|IBM+Plex+Sans|IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      {% block header %}{% endblock %}
    </header>
    <section>
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
